body {
  font-family: "Nunito", sans-serif !important;
  font-family: "Open Sans", sans-serif !important;
  font-family: "Tilt Neon", sans-serif !important;
  background-color: #ffe3bb !important;
}

img:hover {
  opacity: 80%;
  transform: scale(0.98);
}

img {
  transition: all 0.3s ease;
  cursor: pointer;
}

.w-0 {
  width: 0% !important;
}

.scale-hover {
  transition: all 0.3s ease !important;
}
.scale-hover:hover {
  transform: scale(1.1);
  opacity: 50%;
}

.footer {
  display: flex;
  align-items: end;
  z-index: -1;
  position: absolute;
  bottom: 0;
}
.fit-contain {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}

.fit-fill {
  width: 100% !important;
  height: 100% !important;
  object-fit: fill !important;
}

.fit-contain2 {
  max-width: 100% !important;
  height: auto;
}

table {
  width: 50%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black !important;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2 !important;
}

/* th:first-of-type {
  border-top-left-radius: 10px;
}
th:last-of-type {
  border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
} */

.table {
  --bs-table-bg: transparent !important;
}
